USE [AAMS_uat]
GO
/****** Object:  StoredProcedure [dbo].[UP_GET_AAMS_TEAM_TASK]    Script Date: 08/26/2014 10:20:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*

 EXEC  UP_GET_AAMS_TEAM_TASK @EMPLOYEENAME='TAPAN'
 
 SELECT * FROM T_AAMS_TASKSHEET 
 DELETE T_AAMS_TASKSHEET WHERE DATE IS NULL
 

sp_tables '%AAMS%'

sp_columns ALTER TABLE T_AAMS_TASKSHEET ALTER COLUMN TaskDescription VARCHAR(8000)
SELECT replace(convert(varchar,CONVERT(SMALLDATETIME,CONVERT(VARCHAR,DATE)),106),' ','-'),	TaskDescription,Type,ID,WorkingHR=RAJVIR FROM  T_AAMS_TASKSHEET 

ALTER TABLE T_AAMS_TASKSHEET ADD DEEPAK INT 

SELECT * FROM T_AAMS_TASKSHEET WHERE NEERAJ !=0 AND [Type]='CR'

SELECT TYPE, ID,SUM(NEERAJ)
FROM  T_AAMS_TASKSHEET 	
WHERE [DATE] BETWEEN CONVERT(INTEGER,CONVERT(VARCHAR,DATEADD(month,month(GETDATE())-1,DATEADD(year,year(GETDATE())-1900,0))  ,112))
AND CONVERT(INTEGER,CONVERT(VARCHAR,DATEADD(day,-1,DATEADD(month,month(GETDATE()),DATEADD(year,year(GETDATE())-1900,0)))  ,112))
AND NEERAJ !=0 GROUP BY Type,ID,NEERAJ


		

*/

CREATE PROCEDURE [dbo].[UP_GET_AAMS_TEAM_TASK]
@EMPLOYEENAME VARCHAR(50),
@DATE INT = NULL,
@CRCOUNT INT = 0 OUTPUT,
@PRCOUNT INT = 0 OUTPUT,
@GRCOUNT INT = 0 OUTPUT,
@CRHR INT = 0 OUTPUT,
@PRHR INT = 0 OUTPUT,
@GRHR INT = 0 OUTPUT,
@TOTALMONTHLYHR INT= 0 OUTPUT,
@ROWCOUNT INT = 0 OUTPUT,
@RETURNXML XML = NULL OUTPUT
AS

BEGIN

SET ARITHABORT ON 
SET QUOTED_IDENTIFIER ON 

	IF @EMPLOYEENAME ='RAJVIR'
	BEGIN
		SELECT [ROWID], [DATE]= replace(convert(varchar,CONVERT(SMALLDATETIME,CONVERT(VARCHAR,DATE)),106),' ','-'),TaskDescription,Type,ID,WorkingHR=RAJVIR FROM  T_AAMS_TASKSHEET 
		WHERE [DATE] BETWEEN CONVERT(INTEGER,CONVERT(VARCHAR,DATEADD(month,month(GETDATE())-1,DATEADD(year,year(GETDATE())-1900,0))  ,112))
		AND CONVERT(INTEGER,CONVERT(VARCHAR,DATEADD(day,-1,DATEADD(month,month(GETDATE()),DATEADD(year,year(GETDATE())-1900,0)))  ,112))
		AND RAJVIR !=0 ORDER BY [DATE] DESC
		
		SET @ROWCOUNT =@@ROWCOUNT
		
		SELECT @RETURNXML = 
		(
			SELECT 1 as tag, null as parent ,
			LTRIM(RTRIM(ISNULL(TYPE,''))) AS [SEARCHDESC!1!TYPE],
			ISNULL(ID,'') AS [SEARCHDESC!1!ID],
			LTRIM(RTRIM(ISNULL(SUM(RAJVIR),''))) AS [SEARCHDESC!1!HR]
			FROM  T_AAMS_TASKSHEET 	
			WHERE [DATE] BETWEEN CONVERT(INTEGER,CONVERT(VARCHAR,DATEADD(month,month(GETDATE())-1,DATEADD(year,year(GETDATE())-1900,0))  ,112))
			AND CONVERT(INTEGER,CONVERT(VARCHAR,DATEADD(day,-1,DATEADD(month,month(GETDATE()),DATEADD(year,year(GETDATE())-1900,0)))  ,112))
			AND RAJVIR !=0 GROUP BY Type,ID
			FOR XML EXPLICIT , ROOT('REQUEST_SEARCH_OUTPUT')
		)

		SELECT @CRCOUNT= COUNT(*) ,@CRHR = SUM(RAJVIR) FROM  T_AAMS_TASKSHEET
		WHERE [DATE] BETWEEN CONVERT(INTEGER,CONVERT(VARCHAR,DATEADD(month,month(GETDATE())-1,DATEADD(year,year(GETDATE())-1900,0))  ,112))
		AND CONVERT(INTEGER,CONVERT(VARCHAR,DATEADD(day,-1,DATEADD(month,month(GETDATE()),DATEADD(year,year(GETDATE())-1900,0)))  ,112))
		AND RAJVIR !=0 AND [Type]='CR'
		
		SELECT @PRCOUNT= COUNT(*),@PRHR = SUM(RAJVIR) FROM  T_AAMS_TASKSHEET 
		WHERE [DATE] BETWEEN CONVERT(INTEGER,CONVERT(VARCHAR,DATEADD(month,month(GETDATE())-1,DATEADD(year,year(GETDATE())-1900,0))  ,112))
		AND CONVERT(INTEGER,CONVERT(VARCHAR,DATEADD(day,-1,DATEADD(month,month(GETDATE()),DATEADD(year,year(GETDATE())-1900,0)))  ,112))
		AND RAJVIR !=0 AND [Type]='PR'
		
		SELECT @GRCOUNT= COUNT(*),@GRHR = SUM(RAJVIR) FROM  T_AAMS_TASKSHEET 
		WHERE [DATE] BETWEEN CONVERT(INTEGER,CONVERT(VARCHAR,DATEADD(month,month(GETDATE())-1,DATEADD(year,year(GETDATE())-1900,0))  ,112))
		AND CONVERT(INTEGER,CONVERT(VARCHAR,DATEADD(day,-1,DATEADD(month,month(GETDATE()),DATEADD(year,year(GETDATE())-1900,0)))  ,112))
		AND RAJVIR !=0 AND [Type]='GR'
	END
	IF @EMPLOYEENAME ='TAPAN'
	BEGIN
		SELECT  [ROWID], [DATE]= replace(convert(varchar,CONVERT(SMALLDATETIME,CONVERT(VARCHAR,DATE)),106),' ','-'),TaskDescription,Type,ID,WorkingHR=TAPAN  FROM T_AAMS_TASKSHEET 
		WHERE [DATE] BETWEEN CONVERT(INTEGER,CONVERT(VARCHAR,DATEADD(month,month(GETDATE())-1,DATEADD(year,year(GETDATE())-1900,0))  ,112))
		AND CONVERT(INTEGER,CONVERT(VARCHAR,DATEADD(day,-1,DATEADD(month,month(GETDATE()),DATEADD(year,year(GETDATE())-1900,0)))  ,112))
		AND TAPAN !=0 ORDER BY [DATE] DESC		
		SET @ROWCOUNT =@@ROWCOUNT
		
		SELECT @RETURNXML = 
		(
			SELECT 1 as tag, null as parent ,
			LTRIM(RTRIM(ISNULL(TYPE,''))) AS [SEARCHDESC!1!TYPE],
			ISNULL(ID,'') AS [SEARCHDESC!1!ID],
			LTRIM(RTRIM(ISNULL(SUM(TAPAN),''))) AS [SEARCHDESC!1!HR]
			FROM  T_AAMS_TASKSHEET 	
			WHERE [DATE] BETWEEN CONVERT(INTEGER,CONVERT(VARCHAR,DATEADD(month,month(GETDATE())-1,DATEADD(year,year(GETDATE())-1900,0))  ,112))
			AND CONVERT(INTEGER,CONVERT(VARCHAR,DATEADD(day,-1,DATEADD(month,month(GETDATE()),DATEADD(year,year(GETDATE())-1900,0)))  ,112))
			AND TAPAN !=0 GROUP BY Type,ID
			FOR XML EXPLICIT , ROOT('REQUEST_SEARCH_OUTPUT')
		)

		
		SELECT @CRCOUNT= COUNT(*),@CRHR = SUM(TAPAN) FROM  T_AAMS_TASKSHEET 
		WHERE [DATE] BETWEEN CONVERT(INTEGER,CONVERT(VARCHAR,DATEADD(month,month(GETDATE())-1,DATEADD(year,year(GETDATE())-1900,0))  ,112))
		AND CONVERT(INTEGER,CONVERT(VARCHAR,DATEADD(day,-1,DATEADD(month,month(GETDATE()),DATEADD(year,year(GETDATE())-1900,0)))  ,112))
		AND TAPAN !=0 AND [Type]='CR'
		
		SELECT @PRCOUNT= COUNT(*),@PRHR = SUM(TAPAN) FROM  T_AAMS_TASKSHEET 
		WHERE [DATE] BETWEEN CONVERT(INTEGER,CONVERT(VARCHAR,DATEADD(month,month(GETDATE())-1,DATEADD(year,year(GETDATE())-1900,0))  ,112))
		AND CONVERT(INTEGER,CONVERT(VARCHAR,DATEADD(day,-1,DATEADD(month,month(GETDATE()),DATEADD(year,year(GETDATE())-1900,0)))  ,112))
		AND TAPAN !=0 AND [Type]='PR'
		
		SELECT @GRCOUNT= COUNT(*),@GRHR = SUM(TAPAN) FROM  T_AAMS_TASKSHEET 
		WHERE [DATE] BETWEEN CONVERT(INTEGER,CONVERT(VARCHAR,DATEADD(month,month(GETDATE())-1,DATEADD(year,year(GETDATE())-1900,0))  ,112))
		AND CONVERT(INTEGER,CONVERT(VARCHAR,DATEADD(day,-1,DATEADD(month,month(GETDATE()),DATEADD(year,year(GETDATE())-1900,0)))  ,112))
		AND TAPAN !=0 AND [Type]='GR'
	END
	IF @EMPLOYEENAME ='GOPI'
	BEGIN
		SELECT [ROWID],  [DATE]= replace(convert(varchar,CONVERT(SMALLDATETIME,CONVERT(VARCHAR,DATE)),106),' ','-'),TaskDescription,Type,ID,WorkingHR=GOPI FROM T_AAMS_TASKSHEET 
		WHERE [DATE] BETWEEN CONVERT(INTEGER,CONVERT(VARCHAR,DATEADD(month,month(GETDATE())-1,DATEADD(year,year(GETDATE())-1900,0))  ,112))
		AND CONVERT(INTEGER,CONVERT(VARCHAR,DATEADD(day,-1,DATEADD(month,month(GETDATE()),DATEADD(year,year(GETDATE())-1900,0)))  ,112))
		AND GOPI !=0		 ORDER BY [DATE] DESC
		SET @ROWCOUNT =@@ROWCOUNT
		
		SELECT @RETURNXML = 
		(
			SELECT 1 as tag, null as parent ,
			LTRIM(RTRIM(ISNULL(TYPE,''))) AS [SEARCHDESC!1!TYPE],
			ISNULL(ID,'') AS [SEARCHDESC!1!ID],
			LTRIM(RTRIM(ISNULL(SUM(GOPI),''))) AS [SEARCHDESC!1!HR]
			FROM  T_AAMS_TASKSHEET 	
			WHERE [DATE] BETWEEN CONVERT(INTEGER,CONVERT(VARCHAR,DATEADD(month,month(GETDATE())-1,DATEADD(year,year(GETDATE())-1900,0))  ,112))
			AND CONVERT(INTEGER,CONVERT(VARCHAR,DATEADD(day,-1,DATEADD(month,month(GETDATE()),DATEADD(year,year(GETDATE())-1900,0)))  ,112))
			AND GOPI !=0 GROUP BY Type,ID
			FOR XML EXPLICIT , ROOT('REQUEST_SEARCH_OUTPUT')
		)

		
		SELECT @CRCOUNT= COUNT(*),@CRHR = SUM(GOPI) FROM  T_AAMS_TASKSHEET 
		WHERE [DATE] BETWEEN CONVERT(INTEGER,CONVERT(VARCHAR,DATEADD(month,month(GETDATE())-1,DATEADD(year,year(GETDATE())-1900,0))  ,112))
		AND CONVERT(INTEGER,CONVERT(VARCHAR,DATEADD(day,-1,DATEADD(month,month(GETDATE()),DATEADD(year,year(GETDATE())-1900,0)))  ,112))
		AND GOPI !=0 AND [Type]='CR'
		
		SELECT @PRCOUNT= COUNT(*),@PRHR = SUM(GOPI) FROM  T_AAMS_TASKSHEET 
		WHERE [DATE] BETWEEN CONVERT(INTEGER,CONVERT(VARCHAR,DATEADD(month,month(GETDATE())-1,DATEADD(year,year(GETDATE())-1900,0))  ,112))
		AND CONVERT(INTEGER,CONVERT(VARCHAR,DATEADD(day,-1,DATEADD(month,month(GETDATE()),DATEADD(year,year(GETDATE())-1900,0)))  ,112))
		AND GOPI !=0 AND [Type]='PR'
		
		SELECT @GRCOUNT= COUNT(*),@GRHR = SUM(GOPI) FROM  T_AAMS_TASKSHEET 
		WHERE [DATE] BETWEEN CONVERT(INTEGER,CONVERT(VARCHAR,DATEADD(month,month(GETDATE())-1,DATEADD(year,year(GETDATE())-1900,0))  ,112))
		AND CONVERT(INTEGER,CONVERT(VARCHAR,DATEADD(day,-1,DATEADD(month,month(GETDATE()),DATEADD(year,year(GETDATE())-1900,0)))  ,112))
		AND GOPI !=0 AND [Type]='GR'
		
	END
	IF @EMPLOYEENAME ='ASHISH'
	BEGIN
		SELECT  [ROWID], [DATE]= replace(convert(varchar,CONVERT(SMALLDATETIME,CONVERT(VARCHAR,DATE)),106),' ','-'),TaskDescription,Type,ID,WorkingHR=ASHISH FROM T_AAMS_TASKSHEET 
		WHERE [DATE] BETWEEN CONVERT(INTEGER,CONVERT(VARCHAR,DATEADD(month,month(GETDATE())-1,DATEADD(year,year(GETDATE())-1900,0))  ,112))
		AND CONVERT(INTEGER,CONVERT(VARCHAR,DATEADD(day,-1,DATEADD(month,month(GETDATE()),DATEADD(year,year(GETDATE())-1900,0)))  ,112))
		AND ASHISH !=0		 ORDER BY [DATE] DESC
		SET @ROWCOUNT =@@ROWCOUNT
		
		SELECT @RETURNXML = 
		(
			SELECT 1 as tag, null as parent ,
			LTRIM(RTRIM(ISNULL(TYPE,''))) AS [SEARCHDESC!1!TYPE],
			ISNULL(ID,'') AS [SEARCHDESC!1!ID],
			LTRIM(RTRIM(ISNULL(SUM(ASHISH),''))) AS [SEARCHDESC!1!HR]
			FROM  T_AAMS_TASKSHEET 	
			WHERE [DATE] BETWEEN CONVERT(INTEGER,CONVERT(VARCHAR,DATEADD(month,month(GETDATE())-1,DATEADD(year,year(GETDATE())-1900,0))  ,112))
			AND CONVERT(INTEGER,CONVERT(VARCHAR,DATEADD(day,-1,DATEADD(month,month(GETDATE()),DATEADD(year,year(GETDATE())-1900,0)))  ,112))
			AND ASHISH !=0 GROUP BY Type,ID
			FOR XML EXPLICIT , ROOT('REQUEST_SEARCH_OUTPUT')
		)

		SELECT @CRCOUNT= COUNT(*),@CRHR = SUM(ASHISH) FROM  T_AAMS_TASKSHEET 
		WHERE [DATE] BETWEEN CONVERT(INTEGER,CONVERT(VARCHAR,DATEADD(month,month(GETDATE())-1,DATEADD(year,year(GETDATE())-1900,0))  ,112))
		AND CONVERT(INTEGER,CONVERT(VARCHAR,DATEADD(day,-1,DATEADD(month,month(GETDATE()),DATEADD(year,year(GETDATE())-1900,0)))  ,112))
		AND ASHISH !=0 AND [Type]='CR'
		
		SELECT @PRCOUNT= COUNT(*),@PRHR = SUM(ASHISH) FROM  T_AAMS_TASKSHEET 
		WHERE [DATE] BETWEEN CONVERT(INTEGER,CONVERT(VARCHAR,DATEADD(month,month(GETDATE())-1,DATEADD(year,year(GETDATE())-1900,0))  ,112))
		AND CONVERT(INTEGER,CONVERT(VARCHAR,DATEADD(day,-1,DATEADD(month,month(GETDATE()),DATEADD(year,year(GETDATE())-1900,0)))  ,112))
		AND ASHISH !=0 AND [Type]='PR'
		
		SELECT @GRCOUNT= COUNT(*),@GRHR = SUM(ASHISH) FROM  T_AAMS_TASKSHEET 
		WHERE [DATE] BETWEEN CONVERT(INTEGER,CONVERT(VARCHAR,DATEADD(month,month(GETDATE())-1,DATEADD(year,year(GETDATE())-1900,0))  ,112))
		AND CONVERT(INTEGER,CONVERT(VARCHAR,DATEADD(day,-1,DATEADD(month,month(GETDATE()),DATEADD(year,year(GETDATE())-1900,0)))  ,112))
		AND ASHISH !=0 AND [Type]='GR'
		
	END
	IF @EMPLOYEENAME ='ABHISHEK'
	BEGIN
		SELECT  [ROWID], [DATE]= replace(convert(varchar,CONVERT(SMALLDATETIME,CONVERT(VARCHAR,DATE)),106),' ','-'),TaskDescription,Type,ID,WorkingHR=ABHISHEK FROM T_AAMS_TASKSHEET 
		WHERE [DATE] BETWEEN CONVERT(INTEGER,CONVERT(VARCHAR,DATEADD(month,month(GETDATE())-1,DATEADD(year,year(GETDATE())-1900,0))  ,112))
		AND CONVERT(INTEGER,CONVERT(VARCHAR,DATEADD(day,-1,DATEADD(month,month(GETDATE()),DATEADD(year,year(GETDATE())-1900,0)))  ,112))
		AND ABHISHEK !=0		 ORDER BY [DATE] DESC
		SET @ROWCOUNT =@@ROWCOUNT
		
		SELECT @RETURNXML = 
		(
			SELECT 1 as tag, null as parent ,
			LTRIM(RTRIM(ISNULL(TYPE,''))) AS [SEARCHDESC!1!TYPE],
			ISNULL(ID,'') AS [SEARCHDESC!1!ID],
			LTRIM(RTRIM(ISNULL(SUM(ABHISHEK),''))) AS [SEARCHDESC!1!HR]
			FROM  T_AAMS_TASKSHEET 	
			WHERE [DATE] BETWEEN CONVERT(INTEGER,CONVERT(VARCHAR,DATEADD(month,month(GETDATE())-1,DATEADD(year,year(GETDATE())-1900,0))  ,112))
			AND CONVERT(INTEGER,CONVERT(VARCHAR,DATEADD(day,-1,DATEADD(month,month(GETDATE()),DATEADD(year,year(GETDATE())-1900,0)))  ,112))
			AND ABHISHEK !=0 GROUP BY Type,ID
			FOR XML EXPLICIT , ROOT('REQUEST_SEARCH_OUTPUT')
		)
		
		SELECT @CRCOUNT= COUNT(*),@CRHR = SUM(ABHISHEK) FROM  T_AAMS_TASKSHEET 
		WHERE [DATE] BETWEEN CONVERT(INTEGER,CONVERT(VARCHAR,DATEADD(month,month(GETDATE())-1,DATEADD(year,year(GETDATE())-1900,0))  ,112))
		AND CONVERT(INTEGER,CONVERT(VARCHAR,DATEADD(day,-1,DATEADD(month,month(GETDATE()),DATEADD(year,year(GETDATE())-1900,0)))  ,112))
		AND ABHISHEK !=0 AND [Type]='CR'
		
		SELECT @PRCOUNT= COUNT(*),@PRHR = SUM(ABHISHEK) FROM  T_AAMS_TASKSHEET 
		WHERE [DATE] BETWEEN CONVERT(INTEGER,CONVERT(VARCHAR,DATEADD(month,month(GETDATE())-1,DATEADD(year,year(GETDATE())-1900,0))  ,112))
		AND CONVERT(INTEGER,CONVERT(VARCHAR,DATEADD(day,-1,DATEADD(month,month(GETDATE()),DATEADD(year,year(GETDATE())-1900,0)))  ,112))
		AND ABHISHEK !=0 AND [Type]='PR'
		
		SELECT @GRCOUNT= COUNT(*),@GRHR = SUM(ABHISHEK) FROM  T_AAMS_TASKSHEET 
		WHERE [DATE] BETWEEN CONVERT(INTEGER,CONVERT(VARCHAR,DATEADD(month,month(GETDATE())-1,DATEADD(year,year(GETDATE())-1900,0))  ,112))
		AND CONVERT(INTEGER,CONVERT(VARCHAR,DATEADD(day,-1,DATEADD(month,month(GETDATE()),DATEADD(year,year(GETDATE())-1900,0)))  ,112))
		AND ABHISHEK !=0 AND [Type]='GR'
	END
	
	IF @EMPLOYEENAME ='NEERAJ'
	BEGIN
		--SELECT  [ROWID], [DATE]= replace(convert(varchar,CONVERT(SMALLDATETIME,CONVERT(VARCHAR,DATE)),106),' ','-'),TaskDescription,Type,ID,WorkingHR=NEERAJ FROM T_AAMS_TASKSHEET 
		--WHERE [DATE] BETWEEN CONVERT(INTEGER,CONVERT(VARCHAR,DATEADD(month,month(GETDATE())-1,DATEADD(year,year(GETDATE())-1900,0))  ,112))
		--AND CONVERT(INTEGER,CONVERT(VARCHAR,DATEADD(day,-1,DATEADD(month,month(GETDATE()),DATEADD(year,year(GETDATE())-1900,0)))  ,112))
		--AND NEERAJ !=0		 ORDER BY [DATE] DESC
		
		SELECT  [ROWID], [DATE]= replace(convert(varchar,CONVERT(SMALLDATETIME,CONVERT(VARCHAR,DATE)),106),' ','-'),TaskDescription,Type,ID,WorkingHR=NEERAJ FROM T_AAMS_TASKSHEET 
		WHERE [DATE] BETWEEN 
		CONVERT(INTEGER,CONVERT(VARCHAR,DATEADD(month,month(CONVERT(DATETIME,CONVERT(VARCHAR(10),@DATE),103))-1,DATEADD(year,year(CONVERT(DATETIME,CONVERT(VARCHAR(10),@DATE),103))-1900,0))  ,112))
		AND CONVERT(INTEGER,CONVERT(VARCHAR,DATEADD(day,-1,DATEADD(month,month(CONVERT(DATETIME,CONVERT(VARCHAR(10),@DATE),103)),DATEADD(year,year(CONVERT(DATETIME,CONVERT(VARCHAR(10),@DATE),103))-1900,0)))  ,112))
		AND NEERAJ !=0		 ORDER BY [DATE] DESC	
		
		
		SET @ROWCOUNT =@@ROWCOUNT	
		
		
		
		SELECT @RETURNXML = 
		(
			SELECT 1 as tag, null as parent ,
			LTRIM(RTRIM(ISNULL(TYPE,''))) AS [SEARCHDESC!1!TYPE],
			ISNULL(ID,'') AS [SEARCHDESC!1!ID],
			LTRIM(RTRIM(ISNULL(SUM(NEERAJ),''))) AS [SEARCHDESC!1!HR]
			FROM  T_AAMS_TASKSHEET 	
			WHERE [DATE] BETWEEN CONVERT(INTEGER,CONVERT(VARCHAR,DATEADD(month,month(GETDATE())-1,DATEADD(year,year(GETDATE())-1900,0))  ,112))
			AND CONVERT(INTEGER,CONVERT(VARCHAR,DATEADD(day,-1,DATEADD(month,month(GETDATE()),DATEADD(year,year(GETDATE())-1900,0)))  ,112))
			AND NEERAJ !=0 GROUP BY Type,ID
			FOR XML EXPLICIT , ROOT('REQUEST_SEARCH_OUTPUT')
		)
		
		SELECT @CRCOUNT= COUNT(*),@CRHR = SUM(NEERAJ) FROM  T_AAMS_TASKSHEET 
		WHERE [DATE] BETWEEN CONVERT(INTEGER,CONVERT(VARCHAR,DATEADD(month,month(GETDATE())-1,DATEADD(year,year(GETDATE())-1900,0))  ,112))
		AND CONVERT(INTEGER,CONVERT(VARCHAR,DATEADD(day,-1,DATEADD(month,month(GETDATE()),DATEADD(year,year(GETDATE())-1900,0)))  ,112))
		AND NEERAJ !=0 AND [Type]='CR'
		
		SELECT @PRCOUNT= COUNT(*),@PRHR = SUM(NEERAJ) FROM  T_AAMS_TASKSHEET 
		WHERE [DATE] BETWEEN CONVERT(INTEGER,CONVERT(VARCHAR,DATEADD(month,month(GETDATE())-1,DATEADD(year,year(GETDATE())-1900,0))  ,112))
		AND CONVERT(INTEGER,CONVERT(VARCHAR,DATEADD(day,-1,DATEADD(month,month(GETDATE()),DATEADD(year,year(GETDATE())-1900,0)))  ,112))
		AND NEERAJ !=0 AND [Type]='PR'
		
		SELECT @GRCOUNT= COUNT(*),@GRHR = SUM(NEERAJ) FROM  T_AAMS_TASKSHEET 
		WHERE [DATE] BETWEEN CONVERT(INTEGER,CONVERT(VARCHAR,DATEADD(month,month(GETDATE())-1,DATEADD(year,year(GETDATE())-1900,0))  ,112))
		AND CONVERT(INTEGER,CONVERT(VARCHAR,DATEADD(day,-1,DATEADD(month,month(GETDATE()),DATEADD(year,year(GETDATE())-1900,0)))  ,112))
		AND NEERAJ !=0 AND [Type]='GR'
		
	END
	IF @EMPLOYEENAME ='DEEPAK'
	BEGIN
		SELECT  [ROWID], [DATE]= replace(convert(varchar,CONVERT(SMALLDATETIME,CONVERT(VARCHAR,DATE)),106),' ','-'),TaskDescription,Type,ID,WorkingHR=DEEPAK FROM T_AAMS_TASKSHEET 
		WHERE [DATE] BETWEEN CONVERT(INTEGER,CONVERT(VARCHAR,DATEADD(month,month(GETDATE())-1,DATEADD(year,year(GETDATE())-1900,0))  ,112))
		AND CONVERT(INTEGER,CONVERT(VARCHAR,DATEADD(day,-1,DATEADD(month,month(GETDATE()),DATEADD(year,year(GETDATE())-1900,0)))  ,112))
		AND DEEPAK !=0		 ORDER BY [DATE] DESC			
		SET @ROWCOUNT =@@ROWCOUNT
		
		SELECT @RETURNXML = 
		(
			SELECT 1 as tag, null as parent ,
			LTRIM(RTRIM(ISNULL(TYPE,''))) AS [SEARCHDESC!1!TYPE],
			ISNULL(ID,'') AS [SEARCHDESC!1!ID],
			LTRIM(RTRIM(ISNULL(SUM(DEEPAK),''))) AS [SEARCHDESC!1!HR]
			FROM  T_AAMS_TASKSHEET 	
			WHERE [DATE] BETWEEN CONVERT(INTEGER,CONVERT(VARCHAR,DATEADD(month,month(GETDATE())-1,DATEADD(year,year(GETDATE())-1900,0))  ,112))
			AND CONVERT(INTEGER,CONVERT(VARCHAR,DATEADD(day,-1,DATEADD(month,month(GETDATE()),DATEADD(year,year(GETDATE())-1900,0)))  ,112))
			AND DEEPAK !=0 GROUP BY Type,ID
			FOR XML EXPLICIT , ROOT('REQUEST_SEARCH_OUTPUT')
		)
		
		SELECT @CRCOUNT= COUNT(*),@CRHR = SUM(DEEPAK) FROM  T_AAMS_TASKSHEET 
		WHERE [DATE] BETWEEN CONVERT(INTEGER,CONVERT(VARCHAR,DATEADD(month,month(GETDATE())-1,DATEADD(year,year(GETDATE())-1900,0))  ,112))
		AND CONVERT(INTEGER,CONVERT(VARCHAR,DATEADD(day,-1,DATEADD(month,month(GETDATE()),DATEADD(year,year(GETDATE())-1900,0)))  ,112))
		AND DEEPAK !=0 AND [Type]='CR'
		
		SELECT @PRCOUNT= COUNT(*),@PRHR = SUM(DEEPAK) FROM  T_AAMS_TASKSHEET 
		WHERE [DATE] BETWEEN CONVERT(INTEGER,CONVERT(VARCHAR,DATEADD(month,month(GETDATE())-1,DATEADD(year,year(GETDATE())-1900,0))  ,112))
		AND CONVERT(INTEGER,CONVERT(VARCHAR,DATEADD(day,-1,DATEADD(month,month(GETDATE()),DATEADD(year,year(GETDATE())-1900,0)))  ,112))
		AND DEEPAK !=0 AND [Type]='PR'
		
		SELECT @GRCOUNT= COUNT(*),@GRHR = SUM(DEEPAK) FROM  T_AAMS_TASKSHEET 
		WHERE [DATE] BETWEEN CONVERT(INTEGER,CONVERT(VARCHAR,DATEADD(month,month(GETDATE())-1,DATEADD(year,year(GETDATE())-1900,0))  ,112))
		AND CONVERT(INTEGER,CONVERT(VARCHAR,DATEADD(day,-1,DATEADD(month,month(GETDATE()),DATEADD(year,year(GETDATE())-1900,0)))  ,112))
		AND DEEPAK !=0 AND [Type]='GR'
		
		
	END
	IF @EMPLOYEENAME ='SHELLY'
	BEGIN
		SELECT  [ROWID], [DATE]= replace(convert(varchar,CONVERT(SMALLDATETIME,CONVERT(VARCHAR,DATE)),106),' ','-'),TaskDescription,Type,ID,WorkingHR=SHELLY FROM T_AAMS_TASKSHEET
		WHERE [DATE] BETWEEN CONVERT(INTEGER,CONVERT(VARCHAR,DATEADD(month,month(GETDATE())-1,DATEADD(year,year(GETDATE())-1900,0))  ,112))
		AND CONVERT(INTEGER,CONVERT(VARCHAR,DATEADD(day,-1,DATEADD(month,month(GETDATE()),DATEADD(year,year(GETDATE())-1900,0)))  ,112))
		AND SHELLY !=0		 ORDER BY [DATE] DESC
		SET @ROWCOUNT =@@ROWCOUNT
		
		SELECT @RETURNXML = 
		(
			SELECT 1 as tag, null as parent ,
			LTRIM(RTRIM(ISNULL(TYPE,''))) AS [SEARCHDESC!1!TYPE],
			ISNULL(ID,'') AS [SEARCHDESC!1!ID],
			LTRIM(RTRIM(ISNULL(SUM(SHELLY),''))) AS [SEARCHDESC!1!HR]
			FROM  T_AAMS_TASKSHEET 	
			WHERE [DATE] BETWEEN CONVERT(INTEGER,CONVERT(VARCHAR,DATEADD(month,month(GETDATE())-1,DATEADD(year,year(GETDATE())-1900,0))  ,112))
			AND CONVERT(INTEGER,CONVERT(VARCHAR,DATEADD(day,-1,DATEADD(month,month(GETDATE()),DATEADD(year,year(GETDATE())-1900,0)))  ,112))
			AND SHELLY !=0 GROUP BY Type,ID,SHELLY
			FOR XML EXPLICIT , ROOT('REQUEST_SEARCH_OUTPUT')
		)

		SELECT @CRCOUNT= COUNT(*),@CRHR = SUM(SHELLY) FROM  T_AAMS_TASKSHEET 
		WHERE [DATE] BETWEEN CONVERT(INTEGER,CONVERT(VARCHAR,DATEADD(month,month(GETDATE())-1,DATEADD(year,year(GETDATE())-1900,0))  ,112))
		AND CONVERT(INTEGER,CONVERT(VARCHAR,DATEADD(day,-1,DATEADD(month,month(GETDATE()),DATEADD(year,year(GETDATE())-1900,0)))  ,112))
		AND SHELLY !=0 AND [Type]='CR'
		
		SELECT @PRCOUNT= COUNT(*),@PRHR = SUM(SHELLY) FROM  T_AAMS_TASKSHEET 
		WHERE [DATE] BETWEEN CONVERT(INTEGER,CONVERT(VARCHAR,DATEADD(month,month(GETDATE())-1,DATEADD(year,year(GETDATE())-1900,0))  ,112))
		AND CONVERT(INTEGER,CONVERT(VARCHAR,DATEADD(day,-1,DATEADD(month,month(GETDATE()),DATEADD(year,year(GETDATE())-1900,0)))  ,112))
		AND SHELLY !=0 AND [Type]='PR'
		
		SELECT @GRCOUNT= COUNT(*),@GRHR = SUM(SHELLY) FROM  T_AAMS_TASKSHEET 
		WHERE [DATE] BETWEEN CONVERT(INTEGER,CONVERT(VARCHAR,DATEADD(month,month(GETDATE())-1,DATEADD(year,year(GETDATE())-1900,0))  ,112))
		AND CONVERT(INTEGER,CONVERT(VARCHAR,DATEADD(day,-1,DATEADD(month,month(GETDATE()),DATEADD(year,year(GETDATE())-1900,0)))  ,112))
		AND SHELLY !=0 AND [Type]='GR'
	END	
	
END