USE [AAMS_UAT]
GO
/****** Object:  StoredProcedure [dbo].[UP_SRO_MS_CITY]    Script Date: 10/07/2013 12:24:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*

delete T_AAMS_TASKSHEET WITH (NOLOCK) WHERE ROWID = 66

SELECT * FROM T_AAMS_TASKSHEET WHERE ID = 695


DECLARE @RETURNXML XML


SELECT @RETURNXML = 
(
	
	SELECT 1 as tag, null as parent ,
	LTRIM(RTRIM(ISNULL(TYPE,''))) AS [SEARCHDESC!1!TYPE],
	ISNULL(ID,'') AS [SEARCHDESC!1!ID],
	LTRIM(RTRIM(ISNULL(SUM(RAJVIR),''))) AS [SEARCHDESC!1!HR]
	FROM  T_AAMS_TASKSHEET 	
	WHERE [DATE] BETWEEN CONVERT(INTEGER,CONVERT(VARCHAR,DATEADD(month,month(GETDATE())-1,DATEADD(year,year(GETDATE())-1900,0))  ,112))
	AND CONVERT(INTEGER,CONVERT(VARCHAR,DATEADD(day,-1,DATEADD(month,month(GETDATE()),DATEADD(year,year(GETDATE())-1900,0)))  ,112))
	AND RAJVIR !=0 GROUP BY Type,ID,RAJVIR 
	FOR XML EXPLICIT , ROOT('HD_DMSEARCH_DESC_OUTPUT')
			
)

SELECT @RETURNXML

*/



CREATE PROCEDURE [dbo].[UP_SRO_AAMS_TEAM_TASK]
@ACTION CHAR(1),
@ROWID INT,
@LOGINNAME VARCHAR(20),
@DATE INT=NULL,
@TYPE CHAR(2)=NULL,
@ID INT=NULL,
@TASKDESCRIPTION VARCHAR(8000)=NULL,
@WORKINGHR SMALLINT=NULL,

@RETURNID INT=NULL OUTPUT
AS
	DECLARE @CITYIDTEMP INT
	IF @ACTION='I'
	BEGIN			
		IF @LOGINNAME ='TAPAN'
		BEGIN
			INSERT T_AAMS_TASKSHEET(DATE,TaskDescription,[Type],ID,TAPAN)
			VALUES(@DATE,@TASKDESCRIPTION,@TYPE,@ID,@WORKINGHR)
			SET @RETURNID=@@IDENTITY
		END										
	
		IF @LOGINNAME ='RAJVIR'
		BEGIN
			INSERT T_AAMS_TASKSHEET([DATE],TaskDescription,[Type],ID,RAJVIR)
			VALUES(@DATE,@TASKDESCRIPTION,@TYPE,@ID,@WORKINGHR)
			SET @RETURNID=@@IDENTITY
		END				
		IF @LOGINNAME ='GOPI'
		BEGIN
			INSERT T_AAMS_TASKSHEET([DATE],TaskDescription,[Type],ID,GOPI)
			VALUES(@DATE,@TASKDESCRIPTION,@TYPE,@ID,@WORKINGHR)
			SET @RETURNID=@@IDENTITY
		END				
		IF @LOGINNAME ='ASHISH'
		BEGIN
			INSERT T_AAMS_TASKSHEET([DATE],TaskDescription,[Type],ID,ASHISH)
			VALUES(@DATE,@TASKDESCRIPTION,@TYPE,@ID,@WORKINGHR)
			SET @RETURNID=@@IDENTITY
		END				
		IF @LOGINNAME ='ABHISHEK'
		BEGIN
			INSERT T_AAMS_TASKSHEET([DATE],TaskDescription,[Type],ID,ABHISHEK)
			VALUES(@DATE,@TASKDESCRIPTION,@TYPE,@ID,@WORKINGHR)
			SET @RETURNID=@@IDENTITY
		END				
		IF @LOGINNAME ='NEERAJ'
		BEGIN
			INSERT T_AAMS_TASKSHEET([DATE],TaskDescription,[Type],ID,NEERAJ)
			VALUES(@DATE,@TASKDESCRIPTION,@TYPE,@ID,@WORKINGHR)
			SET @RETURNID=@@IDENTITY
		END				
		IF @LOGINNAME ='DEEPAK'
		BEGIN
			INSERT T_AAMS_TASKSHEET([DATE],TaskDescription,[Type],ID,DEEPAK)
			VALUES(@DATE,@TASKDESCRIPTION,@TYPE,@ID,@WORKINGHR)
			SET @RETURNID=@@IDENTITY
		END				
		IF @LOGINNAME ='SHELLY'
		BEGIN
			INSERT T_AAMS_TASKSHEET([DATE],TaskDescription,[Type],ID,SHELLY)
			VALUES(@DATE,@TASKDESCRIPTION,@TYPE,@ID,@WORKINGHR)
			SET @RETURNID=@@IDENTITY
		END
	END

	IF @ACTION='U'
	BEGIN
	IF @LOGINNAME ='TAPAN'
		BEGIN
			UPDATE T_AAMS_TASKSHEET
			SET 
			DATE=@DATE,
			TaskDescription=@TASKDESCRIPTION,
			Type=@TYPE,
			ID=@ID,
			TAPAN=@WORKINGHR				
			WHERE ROWID=@ROWID
		END										
	
		IF @LOGINNAME ='RAJVIR'
		BEGIN
			UPDATE T_AAMS_TASKSHEET
			SET 
			DATE=@DATE,
			TaskDescription=@TASKDESCRIPTION,
			Type=@TYPE,
			ID=@ID,
			RAJVIR=@WORKINGHR				
			WHERE ROWID=@ROWID
			
		END				
		IF @LOGINNAME ='GOPI'
		BEGIN
			UPDATE T_AAMS_TASKSHEET
			SET 
			DATE=@DATE,
			TaskDescription=@TASKDESCRIPTION,
			Type=@TYPE,
			ID=@ID,
			GOPI=@WORKINGHR				
			WHERE ROWID=@ROWID
		
		END				
		IF @LOGINNAME ='ASHISH'
		BEGIN
			UPDATE T_AAMS_TASKSHEET
			SET 
			DATE=@DATE,
			TaskDescription=@TASKDESCRIPTION,
			Type=@TYPE,
			ID=@ID,
			ASHISH=@WORKINGHR				
			WHERE ROWID=@ROWID
			
		END				
		IF @LOGINNAME ='ABHISHEK'
		BEGIN
			UPDATE T_AAMS_TASKSHEET
			SET 
			DATE=@DATE,
			TaskDescription=@TASKDESCRIPTION,
			Type=@TYPE,
			ID=@ID,
			ABHISHEK=@WORKINGHR				
			WHERE ROWID=@ROWID
		END				
		IF @LOGINNAME ='NEERAJ'
		BEGIN
			UPDATE T_AAMS_TASKSHEET
			SET 
			DATE=@DATE,
			TaskDescription=@TASKDESCRIPTION,
			Type=@TYPE,
			ID=@ID,
			NEERAJ=@WORKINGHR				
			WHERE ROWID=@ROWID
		
		END				
		IF @LOGINNAME ='DEEPAK'
		BEGIN
			UPDATE T_AAMS_TASKSHEET
			SET 
			DATE=@DATE,
			TaskDescription=@TASKDESCRIPTION,
			Type=@TYPE,
			ID=@ID,
			DEEPAK=@WORKINGHR				
			WHERE ROWID=@ROWID

		END		
		IF @LOGINNAME ='SHELLY'
		BEGIN
			UPDATE T_AAMS_TASKSHEET
			SET 
			DATE=@DATE,
			TaskDescription=@TASKDESCRIPTION,
			Type=@TYPE,
			ID=@ID,
			SHELLY=@WORKINGHR				
			WHERE ROWID=@ROWID
		END
		
		SET @RETURNID=@DATE
		RETURN @RETURNID		
	END

	IF @ACTION='D'
	BEGIN
		DELETE T_AAMS_TASKSHEET WHERE ROWID=@ROWID
	END