<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<!--<system.web>
		<authentication mode="Forms">
			<forms name="cookie" loginUrl="Login.aspx" protection="All" path="/" timeout="30">
				<credentials passwordFormat="Clear">
					<user name="Slade" password="Test" />
					<user name="Scod" password="Test" />
				</credentials>
			</forms>
		</authentication>
	</system.web>-->
	
	<system.diagnostics>
		<sources>
			<!-- This section defines the logging configuration for My.Application.Log -->
			<source name="DefaultSource" switchName="DefaultSwitch">
				<listeners>
					<add name="FileLog"/>
					<!-- Uncomment the below section to write to the Application Event Log -->
					<!--<add name="EventLog"/>-->
				</listeners>
			</source>
		</sources>
		<switches>
			<add name="DefaultSwitch" value="Information" />
		</switches>
		<sharedListeners>
			<add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" 
                 initializeData="FileLogWriter"/>
			<!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
			<!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
		</sharedListeners>
	</system.diagnostics>
	
	<appSettings>
		
		<add key="Server" value="172.16.2.26" />
		<add key="Database" value="AAMS_TEST" />
		<add key="LoginName" value="SA" />
		<add key="Passkey" value="8Mu6D59T5iP94j+jGgtORw==" />
		
		<!--<add key="Server" value="192.168.9.34"/>
		<add key="Database" value="AAMS_UAT"/>
		<add key="LoginName" value="AAMSADMIN"/>
		<add key="Passkey" value="rG3KaawpGNrjkAyBvKPxmQ=="/>-->

		<add key="DOCServer" value="192.168.9.34"/>
		<add key="DOCDatabase" value="AAMS"/>
		<add key="DOCLoginName" value="AAMSADMIN"/>
		<add key="DOCPasskey" value="rG3KaawpGNrjkAyBvKPxmQ=="/>

		<add key="LogPath" value="C:\Admin"/>
		<add key="ScanFolder" value="C:\Img"/>
		<add key="MaxConnectionPool" value="50"/>
		<add key="CommProtocol" value="dbmssocn"/>
		<add key="TrustedConnection" value="false"/>
		<add key="ZoomPercentage" value="70"/>
		<add key="ReportPath" value="C:\Documents and Settings\Administrator\Desktop\bin\BCDocument.rpt"/>
	
	</appSettings>
</configuration>
